html, body{
  background-color: #343a40;
}
.container-fluid{
 
  /* border: 5px red solid; */
}

.row{
  /* border: 5px green solid;*/
}

[class*="col-"]{
  /*border: 5px blue solid;*/
}

#particles-container{
  
}
#particles-js{
  /*border: 5px rgb(192, 255, 236) solid;*/
  height: 500px;
  max-width: 100%;
}



